# Lokale Umgebungsdateien / Passwörter
.env
*.env

# Logs
*.log

# Word-Dokumente / lokale Lernnotizen
*.docx

# VS-Code lokale Projektdateien
.vscode/
*.code-workspace

# Temporäre Dateien
tmp/
temp/

# Alte Testdateien
docker-compose_alt.yml

# Lokale Backups nicht zu GitHub hochladen
backups/

# Lokale Notizen
Notizen/

# Windows-Systemdateien
Thumbs.db
Desktop.ini

# macOS-Systemdateien, falls das Projekt später auf einem Mac geöffnet wird
.DS_Store

# Lokale Log-Dateien
logs/*
!logs/.gitkeep